<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <style>

    .col label.btn-default.active{background-color:#42f575;color:#FFF}
    .card {
        pointer-events: none
    }

    <script>
    </>







    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>

    <title>Cardapio</title>
</head>
<body>
<div class="container">

    <div class="col">
        <form th:object=" ${requisicaoNovoPedido} " action="/cardapio/novopedido" method="post"
              enctype="application/x-www-form-urlencoded">

            <div th:each="prato : ${listaPratosDTO}" data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-default" name="labelPrato">


                    <img style="max-width:450px;
                 max-height:450px;" class="card-img-top" th:src="${prato.imagem}" alt="Card image cap">
                    <h5 class="card-title" th:text="${prato.nomePrato}">Card title</h5>

                    <p class="card-text" th:text="${prato.descricao}">Some quick example text </p>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${prato.valor}">Cras justo odio</li>
                    </ul>


                    <input type="checkbox" name="pratos" th:value="${prato.id}"/>

                </label>
            </div>
            <button class="btn btn-primary" type="submit">Criar pedido</button>
        </form>


    </div>
</div>


</body>
<script defer>

//GAMBIARRA TEMPORARIA
var delayInMilliseconds = 300; //1 second

setTimeout(function() {
  console.log("Rodando")
        var checkboxes = document.getElementsByName("pratos")
        var labelPratos = document.getElementsByName("labelPrato")

        Array.from(checkboxes).forEach((i, index) => {
        if (i.checked) {

            labelPratos[index].classList.add("active")
        } else {
            labelPratos[index].classList.remove("active")
        }
    })
}, delayInMilliseconds);





</script>

</html>